* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
}
:root {
  --girsclaro: #e0e0e0;
  --amarillo: #e9f679;
  --amarilloepa: #d9df1d;
  --verdeepa: #3fa743;
  --grisoscuro: #3f3e3e;
  --verdeclaro: #9dca2c;
  --tierra: #dda77b;
  --tierra2: #dcbf85;
  --titulos: "CooperHewitt-Heavy", arial;
  --info: "HK Grotesk", sans-serif;
}
.cartel__alert{
  width: 300px;
  background: rgba(33, 148, 68, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgb(7, 6, 6);
  color: #3f3e3e;
  height:300px ;
  display: none;
  position:fixed;
  top: -100px;
  right: -80px;
  z-index: 300;
  align-items:center;
  justify-content:start;

  border: #3f3e3e solid 2px;
  border-radius: 50%;
}
.cartel__alert p {
  width: 100px;
  position: relative;
  left: 80px ;
  top:30px;
  font-size: 20px;
  font-weight: 700;
}
.mostrar {
  display: flex;
}
.remove {
  display: none;
}
body {
  background-color: var(--girsclaro);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dda77b' fill-opacity='0.29' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  width: 100%;
  color: var(--grisoscuro);
  font-family: var(--info);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: var(--girsclaro);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dda77b' fill-opacity='0.29' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#logoepa {
  width: 70px;
  cursor: pointer;
  height: 70px;
}
.ulnav {
  display: flex;
  gap: 50px;
  width:60%;
}
.ulnav__hidden{
  display: none
}
.mensaje__carrito__vacio{
 font-size: 15px;
 font-weight: 800;
 color: #3f3e3e;
}
.contactnav {
  background-color: #3fa743;
  border: solid 3px var(--verdeepa);
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
}
.contactnav:hover {
  transition: 1s;
  background-color: var(--amarilloepa);
  border: 3px solid var(--verdeepa);
}
.ulnav a,
nav a {
  color: var(--grisoscuro);
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.ulnav li a::before {
  content: "";
  width: 0%;
  height: 2px;
  border-bottom: var(--verdeepa) 2px solid;
  position: absolute;
  left: 0px;
  bottom: -2px;
  transition: 1s;
  opacity: 0;
}

.ulnav li a::after {
  width: 0%;
  content: "";
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0px;
  opacity: 0;
  border-bottom: var(--verdeepa) 2px solid;
  transition: 1s;
}

.ulnav li a:hover:after,
.ulnav li a:hover:before {
  width: 100%;
  opacity: 1;
}

#menulabel,
#menu {
  display: none;
}
.show{
  display: flex;
}

.hero {
  width: 100%;
 
}
.hero img {
  width: 100%;
}

.tituloshero {
  position: absolute;
  top: 200px;
  right: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.tituloshero h1 {
  font-size: 200px;
  color: var(--girsclaro);
  -webkit-text-stroke: 5px black;
  text-transform: uppercase;
  font-family: var(--titulos);
}
.tituloshero h2 {
  font-size: 38px;
  color: var(--girsclaro);
  -webkit-text-stroke: 2px black;
}
.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 30px;
}
.equipo-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
}
.integrantesgrupo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.integrantesgrupo ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
}
.integrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.titulo__item__carrito{
  width: 100px;
}
.integrantes img {
  border: var(--verdeepa) solid 2px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px white;
}

.integrantes h3 {
  font-size: 20px;
  font-family: var(--titulos);
  text-transform: uppercase;
}
.titulointegrantes h2 {
  font-size: 35px;
  font-family: var(--titulos);
}
.cards__productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.productos__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carrito__compras__imagen img {
  width: 30px;
  
}
.carrito__compras__imagen {
  position: relative;
  cursor: pointer;
}
.carrito__compras__conteiner{
  display: none;
  position: absolute;
  flex-direction: column;
  top: 100px;
  right: 0px;
  padding: 30px;
  padding-top: 50px;
  justify-content: start;
  align-items: center;
  gap: 40px;
  height: 200vh;
  width: 20%;

background: rgba(255, 255, 255, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.8px);
-webkit-backdrop-filter: blur(8.8px);
border: 1px solid rgb(7, 6, 6);
}
.carrito__compras__flex{
display: flex;
}
.cantidad__carrito__conteiner {
  position: absolute;
  top: 0px;
  right: -2px;
  border: #3fa743 solid 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #3fa743;
}

.filter__productos {
  display: flex;
  gap: 30px;
}
.card__producto__solo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.imagenes__producto {
  width: 50px;
  height: 100px;
  margin: 0px;
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-content: center;
}
.imagenes__producto img {
  width: auto;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 5px;
}

.contactomain {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
}
.venta {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.datosventas a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--info);
  font-style: bold;
  text-decoration: none;
  color: var(--grisoscuro);
}
.datosventas a:hover {
  color: var(--verdeepa);
  font-weight: bold;
}

.venta h2 {
  font-size: 30px;
  font-weight: 800;
}
.link__contact{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}
.link__contact img  {
  width: 60px;
}
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 40px;
  flex-direction: column;
}
.contacto h2 {
  font-size: 30px;
  font-weight: 800;
}
.contacto h2 span {
  color: var(--verdeepa);
}
.datoscontacto {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 100%;
}
.datoscontacto a img {
  width: 40px;
}
.datoscontacto a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #3f3e3e;
  align-items: center;
  display: flex;
  gap: 30px;
  width: 50%;
}
.datoscontacto a:hover {
  color: var(--verdeepa);
  font-weight: bold;
}

.link__github img {
  width: 150px;
  height: 31px;
  cursor: pointer;
}

footer {
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: var(--info);
  font-weight: 500;
}
.form__login__conteiner {
  padding: 30px;
}
.form__login,
.form__registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.form__login input,
.form__registro input {
  border-radius: 5px;
  border: #3fa743 1px solid;
}
.buttons__form {
  gap: 10px;
  display: flex;
}
.buttons__form button {
  font-size: 10px;

  border-radius: 5px;
  padding: 5px;
  border: #3fa743 1px solid;
}
.button__add{
  font-size: 10px;
  border-radius: 5px;
  padding: 5px;
  border: var(--grisoscuro) 1px solid;
  background-color:var(--tierra);
  color:var(--grisoscuro)
}
.hidden{
  visibility: hidden;
}
.button__activo{
  background-color: red;
}
