* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style-type: none;
}
:root {
  --girsclaro: #e0e0e0;
  --amarillo: #e9f679;
  --amarilloepa: #d9df1d;
  --verdeepa: #3fa743;
  --grisoscuro: #3f3e3e;
  --verdeclaro: #9dca2c;
  --tierra: #dda77b;
  --tierra2: #dcbf85;
  --titulos: "CooperHewitt-Heavy", arial;
  --info: "HK Grotesk", sans-serif;
}
.cartel__alert {
  width: 500px;
  background: rgba(250, 250, 250, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgb(7, 6, 6);
  color: #3f3e3e;
  height: 50px;
  display: flex;
  position: fixed;
  top: 25px;
  right:-500px;
  z-index: 300;
  align-items: center;
  justify-content: center;
  border: #3f3e3e solid 2px;
 transition: all 2s;
}
.cartel__alert p {
  width: 100%;
align-items: center;
justify-content: center;
display: flex;
  left: 80px;
  top: 30px;
  font-size: 20px;
  font-weight: 700;
 
}
.mostrar {
transform: translateX(-525px);
  /* display: flex; */
  

}
.remove {
  transform: translateX(525px);
  /* display: none; */
 
}
.alert__producto__agregado__card {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
    left: 80px;
    top: 30px;
    font-size: 20px;
    font-weight: 700;
}
.conteiner__alert__producto__agregado__carrito {
  width: 500px;
  background: rgba(250, 250, 250, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgb(7, 6, 6);
  color: #3f3e3e;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 25px;
  right:-500px;
  z-index: 300;
  align-items: center;
  justify-content: center;
  border: #3f3e3e solid 2px;
 transition: all 2s;
}
.visible {
  display:flex;
}
.hidden {
  display:none;
}

body {
  background-color: var(--girsclaro);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dda77b' fill-opacity='0.29' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  width: 100%;
  color: var(--grisoscuro);
  font-family: var(--info);
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  text-decoration: none;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: whitesmoke;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dda77b' fill-opacity='0.29' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#logoepa {
  width: 70px;
  cursor: pointer;
  height: 70px;
}
.ulnav {
  display: flex;
  gap: 50px;
  width: 60%;
}
.ulnav__hidden {
  display: none;
}
.mensaje__carrito__vacio {
  font-size: 15px;
  font-weight: 800;
  color: #3f3e3e;
}
.contactnav {
  background-color: #3fa743;
  border: solid 3px var(--verdeepa);
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
}
.contactnav:hover {
  transition: 1s;
  background-color: var(--amarilloepa);
  border: 3px solid var(--verdeepa);
}
.ulnav a,
nav a {
  color: var(--grisoscuro);
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.ulnav li a::before {
  content: "";
  width: 0%;
  height: 2px;
  border-bottom: var(--verdeepa) 2px solid;
  position: absolute;
  left: 0px;
  bottom: -2px;
  transition: 1s;
  opacity: 0;
}

.ulnav li a::after {
  width: 0%;
  content: "";
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0px;
  opacity: 0;
  border-bottom: var(--verdeepa) 2px solid;
  transition: 1s;
}

.ulnav li a:hover:after,
.ulnav li a:hover:before {
  width: 100%;
  opacity: 1;
}

#menulabel,
#menu {
  display: none;
}
.show {
  display: flex;
}

.hero {
  width: 100%;
}
.hero img {
  width: 100%;
}

.tituloshero {
  position: absolute;
  top: 200px;
  right: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.tituloshero h1 {
  font-size: 200px;
  color: var(--girsclaro);
  -webkit-text-stroke: 5px black;
  text-transform: uppercase;
  font-family: var(--titulos);
}
.tituloshero h2 {
  font-size: 38px;
  color: var(--girsclaro);
  -webkit-text-stroke: 2px black;
}
.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 30px;
}
.equipo-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
}
.integrantesgrupo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.integrantesgrupo ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 100px;
}
.integrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.integrantes img {
  border: var(--verdeepa) solid 2px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px white;
}

.integrantes h3 {
  font-size: 20px;
  font-family: var(--titulos);
  text-transform: uppercase;
}
.titulointegrantes h2 {
  font-size: 35px;
  font-family: var(--titulos);
}

#productos__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.carrito__compras__imagen img {
  width: 30px;
}

.carrito__compras__imagen {
  position: relative;
  cursor: pointer;
}
.carrito__compras__conteiner {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 100px;
  right: 0px;

  padding-top: 50px;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 90vh;
  width: 25%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgb(7, 6, 6);
  padding-left: 10px;
}
.carrito__compras__flex {
  display: flex;
}

body::-webkit-scrollbar,
.carrito__compras__conteiner::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track,
.carrito__compras__conteiner::-webkit-scrollbar-track {
  background: var(--tierra2);
}

body::-webkit-scrollbar-thumb,
.carrito__compras__conteiner::-webkit-scrollbar-thumb {
  background-color: var(--grisoscuro);
  border-radius: 20px;
  border: 3px solid var(--tierra2);
}
.cantidad__carrito__conteiner {
  position: absolute;
  top: 0px;
  right: -2px;
  border: #3fa743 solid 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  display: flex;

  background-color: #3fa743;
}

.filter__productos {
  display: flex;
  gap: 30px;
}
.card__producto__solo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 30px;
  border: 2px solid var(--verdeepa);
  border-radius: 10px;
}
.cards__productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: 30px 0px;
}
.imagenes__producto {
  width: 100%;
  height: 100px;
  margin: 0px;
  gap: 10px;
  position: relative;
  display: flex;

  gap: 20px;
  justify-content: center;
  align-content: center;
}
.imagenes__producto img {
  width: auto;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 5px;
}

.contactomain {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
}
.venta {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.datosventas a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--info);
  font-style: bold;
  text-decoration: none;
  color: var(--grisoscuro);
}
.datosventas a:hover {
  color: var(--verdeepa);
  font-weight: bold;
}

.venta h2 {
  font-size: 30px;
  font-weight: 800;
}
.link__contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.link__contact img {
  width: 40px;
}
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 40px;
  flex-direction: column;
}
.contacto h2 {
  font-size: 30px;
  font-weight: 800;
}
.contacto h2 span {
  color: var(--verdeepa);
}
.datoscontacto {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 100%;
}

.datoscontacto a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #3f3e3e;
  align-items: center;
  display: flex;
  gap: 30px;
  width: 50%;
}
.datoscontacto a:hover {
  color: var(--verdeepa);
  font-weight: bold;
}

.link__github img {
  width: 150px;
  height: 31px;
  cursor: pointer;
}

footer {
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: var(--info);
  font-weight: 500;
}
.form__login__conteiner {
  padding: 30px;
}
.login{
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
}
.form__login,
.form__registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}
.form__login input,
.form__registro input {
  border-radius: 5px;
  border: #3fa743 1px solid;
}
.buttons__form {
  gap: 10px;
  display: flex;
}

.buttons__form button {
  font-size: 10px;

  border-radius: 5px;
  padding: 5px;
  border: #3fa743 1px solid;
}

.button__add {
  font-size: 10px;
  border-radius: 5px;
  padding: 5px;
  border: var(--grisoscuro) 1px solid;
  background-color: var(--tierra);
  color: var(--grisoscuro);
}

.buttons__vermas {
  margin-top: 10px;
}
.buttons__vermas__conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.buttons__vermas:hover {
  color: #3fa743;
  background-color: var(--grisoscuro);
}
.categoria {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  line-height: 1;
  border-radius: 300px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-width: 50px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 5px 12px;
  color: #fff;
  background-color: var(--grisoscuro);
  height: 30px;
}
.zoom__image{
  width: auto;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 5px;
}

.agregar__producto__carrito,
.buttons__vermas {
  display: inline-block;
  outline: none;
  cursor: pointer;
  line-height: 1;
  border-radius: 300px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-width: 50px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 5px 12px;
  font-size: 10px;
  color: black;
  background-color: var(--verdeepa);
  height: 30px;
}
.ingreso__button,
.crear__cuenta__button,
.salir__cuenta,
.mi__cuenta{
  
  outline: none;
  cursor: pointer;
  line-height: 1;
  border-radius: 300px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-width: 50px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  font-size: 10px;
  color: black;
  background-color: var(--verdeepa);
  height: 30px;

}
.ingreso__button:hover,
.crear__cuenta__button:hover,
.mi__cuenta:hover,
.categoria:hover,.salir__cuenta:hover,
.agregar__producto__carrito:hover {
  transform: scale(1.04);
  background-color: var(--amarilloepa);
  color: var(--grisoscuro);
  border: 1px solid black;
}

.button__activo {
 background-color: var(--amarilloepa);
 color: var(--grisoscuro);
 border:2px solid var(--grisoscuro);
}
.imagen__carrito {
  width: 50px;
  border-radius: 10px;
}
.item__carrito__info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.item__carrito {
  border: 1px solid rgb(206, 191, 191);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  display: flex;
}
.manejar__cantidad {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card__carrito {
  width: 100%;
}
.titulo__item__carrito {
  width: 100px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
.precio__item__carrito {
  font-size: 17px;
  font-weight: 600;
}
.button__cantidad__carrito {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;

  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 4px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  font-size: 18px;
}
.button__cantidad__carrito:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-3px);
}
.button__comprar {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  line-height: 32px;
  padding: 0 20px;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.4s;
  border: 0;
}
.button__comprar:hover {
  transform: translateY(-3px);
  background-color: #00d775;
}

.button__vaciar {
  background-color: initial;
  background-image: linear-gradient(-180deg, #d70000, #bd4747);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  line-height: 29px;
  padding: 0 20px;
  pointer-events: auto;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.4s;
  border: 0;
  margin-bottom: 15px;
}
.button__vaciar:hover {
  transform: translateY(-3px);
  background-color: #00d775;
}
.total__carrito__conteiner{
  font-size: 15px;
  font-weight: 600;
  display: flex;
  gap: 10px;
}
